<!DOCTYPE html>
<html>
<head>
    <title>Hangman Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hangman Game 🎮</h1>

    <p class="word">{{ display }}</p>
    <p>Attempts Left: {{ attempts }}</p>

    <form method="POST">
        <input type="text" name="letter" maxlength="1" required>
        <button type="submit">Guess</button>
    </form>

    <p class="msg">{{ message }}</p>

    <a href="/reset">Restart Game</a>
</body>
</html>